/*
* Created By: Kris Kuchinka
* Submission Date: 2016.03.14
* Project Name: Forum
*
* Explanation: This was a project assigned to me at PDX Code Guild by the instructor. It is * supposed to be a single page forum that uses AJAX to automatically sync up with the Google * spreadsheet it is attached to. (Refer to README.md for assignment particulars.) The style * theme was supposed to be modeled after a Star Wars promotional picture.
*
* This external CSS file is linked to forum_index.html.
*/


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	background-color: #000000; /*black*/
	font-family: monospace;
	background-image: url("../images/stars_background.jpg");

}

#sw-form {
	margin: 5em auto;
	border: 10px red solid;
	width: 80%;
	padding: 10px;
	/* inset makes the border styling go on the inside. The second set of parameter effects the outer shadow */
	box-shadow: inset 0px 0px 15px 15px rgba(255, 0, 0, .5), 0px 0px 15px 15px rgba(255, 0, 0, .5);
}

.forum-input {
	display: block;
	margin: 20px;
	width: 90%;
}

.forum-input::-webkit-input-placeholder {
	color: rgb(0, 51, 223); /*blue*/
}

.forum-input, #submit-form {
	font-size: 2em;
	padding: 10px;
	margin: 5%;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 900;
	font-family: 'Overlock', cursive;
}

#submit-form {
	display: block;
	margin: 50px 5%;
	font-size: 2em;
	width: 90%;
	background-color: green;
}

#submit-form:hover {
	box-shadow: 0px 0px 20px 20px rgba(0, 255, 0, .3);
	cursor: pointer;
}

.message {
	margin: 5em auto;
	background-color: white;
	width: 80%;
	padding: 10px;	
}